@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,200&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
.section{
    width: 100%;
    min-height: 100vh;
    background-color: #ddd;
}

.about-item .team-item .row .team-details .btn {
    font-size: 25px;
}
.container{
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 100px;
}
.content-section{
    float: left;
    width: 55%;

}
.title-section{
    width: 100%; 
    float: auto;

}
.title-section .title{
    font-family: fantasy ;
    font-size: 30px;
    
}
.image-section{
float: right;
width: 40%;
}
.image-section img{
    width: 60%;
    height: auto;
}
.content-section .title{
    text-transform: uppercase;
    font-size: 28px;
    color: #a52a2a;
}
.content-section .content h3{
    margin-top: 20px;
    color:#5d5d5d;
    font-size: 23px;
}
.content-section .content p{
    margin-top: 20px;
    font-family: cursive;
    font-size: 20px;
    line-height: 1.5;
}
.content-section .content .button a{
    margin-top: 90px;
}

/* .content-section .content .button a{
    background-color: #3d3d3d;
    padding: 12px 40px;
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    letter-spacing: 1.5px;
}
.content-section .content .button a:hover{ */

    /* background-color: #a52a2a;
    color: #fff;
} */
.content-section .social{
    margin-top: 70px 90px;
}
.content-section .social i{
    color: #a52a2a;
    font-size: 30px;
    padding: 50px 10px;
}
.content-section .social i:hover{
    color:#3d3d3d;

}

@media screen and (max-width:768px) {
    .container{
        width: 80%;
        display: block;
        margin: auto;
        padding-top: 50px;
    }
    .content-section{
        float: none;
        width: 100%;
        display: block;
        margin: auto;
    
    }
    .image-section{
        float:none;
        width: 100%;
        display: block;
        margin: auto;
    }
    .content-section .title{
        text-align: center;
        font-size: 19px;
    }
    .content-section .social{
    margin-top: 70px 90px;
}   
}